
  @media (max-width: 600px) {
    html {
      font-size: 15px;
    }
    .main {
        max-height:20% ;
    }
    .logo {
        
        max-height: 3rem;
    }
  }
  

  @media (max-width: 800px) {
    html {
      font-size: 17px;
    }
    .main {
        max-height:20% ;
    }
  }

  @media (min-width: 1000px) {
    html {
      font-size: 30px;
    }
    .main {background-position: 0rem -5rem;
        background-size:100%;
        max-height:33.3333% ;
        }
  }
  