
  @media (max-width: 600px) {
    html {
      font-size: 15px;
    }
    .main {
        max-height:20% ;
    }
    .logo {
        max-height: 3rem;
    }
  }

  @media (max-width: 800px) {
    html {
      font-size: 17px;
    }
    .main {
        max-height:20% ;
    }
    .navigationBtn {
        font-size: 0.7rem;
    }
  }

  @media (min-width: 1000px) {
    html {
      font-size: 30px;
    }
    .main {background-position: 0rem -5rem;
        background-size:100%;
        max-height:33.3333% ;
        }
        .navigationBtn {
            font-size: 1rem;
        }}

  @media (max-width: 500px) {
    .TakeTable {
      height: fit-content;
      min-height: 50vh;
      justify-content: left;
      background-position-x: 7rem;  }
    .reservationForm{
      position: relative;
      margin: 3rem 0rem;
      opacity: 0.9;
      border-top-left-radius: 0rem;
      border-bottom-left-radius:0rem;
    }
    .main {
      height: 75vh;
    }
    .navigationBtn > a{
      font-size: 0.8rem;
    }

  }