*, html, body {
    margin: 0rem;
    padding: 0rem;
    font-size: 15px;
    overflow-x: hidden;
}

body {
    display: flex ;
    flex-direction: column;
    height:300vh;
}

button {
    all: unset;
    cursor: pointer;
  }

/* NAVBAR */

nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem 5%;
    width: 100%;
    height: fit-content;
    max-height: 20%;
    background-color: none;
}
.navigationBtn {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    height: 50%;
    color: white;
    font-size: 0.6rem;
    width: 100%;
    text-align: center;
    padding: 0.3rem 0.4rem;
    border: white solid 0.1rem;
    background-color: rgba(255, 0, 64, 0.2);
    transition: all 0.16s;
    box-sizing: border-box;
    max-width: fit-content;
}

.navigationBtn:active {
    background-color: rgba(255, 0, 64, 1);
    box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.5);
    
}


.logo {
    position: relative;
    object-fit:fill;
    max-height: 5rem;
}


/* Main wallpaper */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 33%;
    box-sizing: border-box;
    background-image: url(main.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat:no-repeat;
    background-size:cover;
    background-blend-mode:darken;
    background-position: 0rem 0rem;
   
}


.title {
    box-sizing: border-box;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    width: fit-content;
    padding: 0rem 2rem;
    text-shadow: black 0rem 0rem 0.1rem;
}

/* Who we are ? */

.Whoweare {
    
}







